{
  # the whole config file follows the hjson style please
  # see https://hjson.org/
  # This allows to have a more human readable and understandable
  # json config with commenst,...

  # Analysis of the performance (Attention slower process)
  # usePerfomanceAnalyzer: false

  # The time in sec until the engine is aborted
  # stopTimeout: 10

  # Creating a temporary directory for the report process
  workingDir: %temp%\senseexelreporting

  # Host binding on gRPC Server
  bindingHost: localhost

  # Port binding on gRPC Server
  bindingPort: 50059

  # Connection to rest service
  # restServiceUrl: http://localhost:40263

  # Connection timeout to rest
  # restTimeout: 30

  # Use external rest service
  # useExternalRestService: true

  # Connection settings to Qlik
  connection:
  {
	 # connection to qlik
	 # default the connectors takes https://PCNAME/ser as serverUri
	 # serverUri: https://localhost/ser

	 # sslValidThumbprints: [
	 # {
	 #	 url: https://localhost/ser
	 #	 thumbprint: ‎a794accab24830f6751acb33eca65a7582878f80
	 # }
	 # ]

	 # Qlik jwt connection infos
	 credentials:
	 {
		 # the defined HTTP header for the virtual proxy
		 key: X-Qlik-Session-ser

		 # the authentification mode of the proxy
		 # in the standard use JWT, if you want to use other
		 # authentification methods please look into the documentation
		 type: SESSION

		 # filename of the JWT certificate, you can define
		 # relative paths or absolute paths
		 cert: %appdata%\AnalyticsGate\AGR\certificates\serconnector.pem

		 privateKey: %appdata%\AnalyticsGate\AGR\certificates\serconnector_private.key
	 }
  }
}